header {
    padding: 2em;
}

header h1 {
    font-size: 2em;
    margin: auto;
    padding: 1em 0;
    width: 50%;
    text-align: center;
}

header p {
    font-size: 0.8em;
    margin: auto;
    width: 50%;
    text-align: center;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profile {
    background-color: rgb(177, 172, 172);
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    border-radius: 20%;

}